{% extends 'template.html' %}
{% load static %}
        {% block content %}
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <img src="{% static 'img/hometicrev.jpg' %}" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">Jelajahi Tempat Wisata</span>
                        <h1 class="home__data-title">Explore The <br> Best <b>Beautiful <br> Place In Indonesia</b></h1>
                        <a href="" class="button">Explore</a>

                    </div>

                    <div class="home__social">
                        <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                            <i class="ri-facebook-box-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank" class="home__social-link">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </div>

                    <div class="home__info">
                        <div>
                            <span class="home__info-title">5 best places to visit in Indonesia</span>
                            <a href="{% url 'tictrav:deskripsi' %}" class="button button--flex button--link home__info-button">
                                More <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>

                        <div class="home__info-overlay">
                            <img src="{% static 'img/home2.jpg' %}" alt="" class="home__info-img">
                        </div>
                    </div>
                </div>
            </section>

            {% if user.is_authenticated %}
                <!--==================== PLACES ====================-->
                <section class="place section" id="place">
                    <h2 class="section__title">Rekomendasi untuk anda</h2>
                    <div class="place__container container grid">
                        {% for recommend in recommend %}
                            <!--==================== PLACES CARD 1 ====================-->
                            <div class="place__card">
                                <img src="{{recommend.img.url}}" alt="" class="place__img">
                                
                                <div class="place__content">
                                    <span class="place__rating">
                                        <i class="ri-star-line place__rating-icon"></i>
                                        <span class="place__rating-number">4,8</span>
                                    </span>

                                    <div class="place__data">
                                        <h3 class="place__title">{{recommend.place_name}}, {{recommend.city}}</h3>
                                        <span class="place__subtitle">Indonesia</span>
                                        <span class="place__price">Rp {{recommend.price}},-</span>
                                    </div>
                                </div>

                                <button class="button button--flex place__button">
                                    <i class="ri-arrow-right-line"></i>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}

            <!--==================== ABOUT ====================-->
            <section class="about section" id="about">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Informasi <br> tentang tempat liburan dan wisata di Indonesia</h2>
                        <p class="about__description">Kamu bisa temukan wisata favoritmu dn kategori wisata yang kamu inginkan, and get your 
                            place now.
                        </p>
                        <a href="{% url 'tictrav:deskripsi' %}" class="button">Informasi Wisata</a>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="{% static 'img/ticrevhome2.jpg' %}" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="{% static 'img/ticrevhome3.jpg' %}" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==================== DISCOVER ====================-->
            <section class="discover section" id="discover">
                <h2 class="section__title">Tempat paling menarik <br> di Indonesia</h2>
                
                <div class="discover__container container swiper-container">
                    <div class="swiper-wrapper">
                        {% for tourism in tourism %}
                            <!--==================== DISCOVER 1 ====================-->
                            <div id="{{ forloop.counter }}" class="discover__card swiper-slide">
                                <img src="/static/img/discover{{forloop.counter}}.jpg" alt="" class="discover__img">
                                <div class="discover__data">
                                    <h2 class="discover__title">{{tourism.city}}</h2>
                                    <span class="discover__description">{{tourism.jum_city}} tours available</span>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </section>

           <!--==================== EXPERIENCE ====================-->
           <!-- <section class="experience section">
                <h2 class="section__title">With Our Experience <br> We Will Serve You</h2>

                <div class="experience__container container grid">
                    <div class="experience__content grid">
                        <div class="experience__data">
                            <h2 class="experience__number">20</h2>
                            <span class="experience__description">Year <br> Experience</span>
                        </div>

                        <div class="experience__data">
                            <h2 class="experience__number">75</h2>
                            <span class="experience__description">Complete <br> tours</span>
                        </div>

                        <div class="experience__data">
                            <h2 class="experience__number">650+</h2>
                            <span class="experience__description">Tourist <br> Destination</span>
                        </div>
                    </div>

                    <div class="experience__img grid">
                        <div class="experience__overlay">
                            <img src="assets/img/experience1.jpg" alt="" class="experience__img-one">
                        </div>
                        
                        <div class="experience__overlay">
                            <img src="assets/img/experience2.jpg" alt="" class="experience__img-two">
                        </div>
                    </div>
                </div>
            </section>-->

            <!--==================== VIDEO ====================-->
            <section class="video section">
                <h2 class="section__title">Indonesia Video Tour</h2>

                <div class="video__container container">
                    <p class="video__description">temukan tempat liburanmu di seluruh indonesia yang akan keindahan alam dan ratusan tempat wisata
                        yang bisa dikunjungi.
                    </p>

                    <div class="video__content">
                        <video id="video-file">
                            <source src="{% static 'video/Indonesia.mp4' %}" type="video/mp4">
                        </video>

                        <button class="button button--flex video__button" id="video-button">
                            <i class="ri-play-line video__button-icon" id="video-icon"></i>
                        </button>
                    </div>
                </div>

            </section>

            

        </main>

        {% endblock %}
