{% extends 'template.html' %}
{% load static %}
{% block title %}Reservasi{% endblock %}
{% block content %}
<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/stylepemesanan.css' %}" />
	<body class="align" style="background-image:url({% static 'img/homebali.jpg' %});background-repeat:no-repeat;background-attachment: fixed;background-size: cover;">
		<div class="grid" style="max-inline-size: 60rem;margin: auto;">
		<div id="booking">
				<div class="container">
					<div class="row">
						<div class="booking-form">
							<div class="form-header">
								<img src="{% static 'img/icon2.png' %}" width="350" height="350"/>
								<h1 style="color:white;">TicTrav Ticket</h1>
							</div>
							<form method="POST">
								{% csrf_token %}
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Name</span>
											<input class="form-control" type="text" placeholder="Enter your name" name="fullname" value="{{user.full_name|safe}}" required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Email</span>
											<input class="form-control" type="email" placeholder="Enter your email" name="email" value="{{user.email|safe}}" required>
										</div>
									</div>
								</div>
								<div class="form-group">
									<span class="form-label">Phone</span>
									<input class="form-control" type="tel" placeholder="Enter your phone number" name="phone" value="{{user.phone_number|safe}}" required>
								</div>
								<div class="form-group">
									<span class="form-label">Pickup Location</span>
									<input class="form-control" type="text" placeholder="Enter ZIP/Location" name="location" value="{{user.location|safe}}" required>
								</div>
								<div class="form-group">
									<span class="form-label">Destination</span>
									<input class="form-control" type="text" placeholder="Enter ZIP/Location" value="{{tourism.place_name|safe}} - {{tourism.city|safe}}" readonly disabled>
								</div>

								<div class="form-group">
									<span class="form-label">Pickup Date</span>
									{{reservation.due_date|safe}}
								</div>

								<div class="form-btn">
									<input type="submit" class="submit-btn" value="Book Now"/>
									<a href="{% url 'tictrav:deskripsi' tourism.place_id %}" style="display: flex;margin-top:20px">
					                  <div>
					                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" fill="rgba(0,0,0,1)"/></svg> 
					                  </div>
					                  Back
					                </a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
{% endblock %}