{% extends 'template.html' %}
{% load static %}
{% block title %}Personalize{% endblock %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'css/stylepersonalisasi.css' %}" />
<body class="align" style="background-image:url({% static 'img/homebali.jpg' %});background-repeat:no-repeat;background-attachment: fixed;background-size: cover;">
	<div id="booking" class="section">
		<div class="section-center">
			<div class="booking-form">
				<div class="form-header">
					<h1 style="color:white;">TicTrav Personalization</h1>
				</div>
				<form method="POST">
					{% csrf_token %}
					{% regroup categories|dictsort:'category' by category as categoryList%}
					{% for category in categoryList%}
						<div class="form-group">
							<input type="checkbox" class="form-control" id="category-{{forloop.counter}}" name="kategori" value="{{category.grouper}}" {% if category.grouper in personal %} checked {% endif %}>
							<label for="category-{{forloop.counter}}">{{category.grouper}}</label><br>
						</div>
					{% endfor %}
					<div class="form-group">
						<input class="submit-btn" type="submit" value="Simpan Perubahan">
					</div>
					<a href="{% url 'tictrav:home' %}" style="display:flex;">
						<div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
							<path fill="none" d="M0 0h24v24H0z"/><path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" fill="rgba(0,0,0,1)"/>
            </svg></div>
          Back to Home</a>
				</form>
			</div>
		</div>
	</div>
</body>
{% endblock %}