{% load static %}
  <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{% static 'img/icon2.png' %}" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">


        <link rel="stylesheet" href="{% static 'css/chat.css' %}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <title>TicTrav - {% block title %}Beranda{% endblock %}</title>
    </head>
    <body>
        {% include 'header.html' %}

        {% block content %}
        
        {% endblock %}
        
        {% include 'chatbot.html' %}

        {% include 'footer.html' %}

       
    </body>
</html>