.container_password{
	margin: 14rem;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
}

.container_password h1{
	margin-block-end: 50px;
}

input[type='submit'] {
    background-color: #0b4f55;
    border-radius: 10;
    color: #fff;
    font-weight: 700;
    padding: 0.75em 1.25em;
    cursor: pointer;
}

input[type='email'], input[type='password'] {
    border: 0.0625em solid #e5e5e5;
    padding: 1em 1.25em;
    inline-size: 100%;
    margin-bottom: 20px;
}